@model PropBet
@{
    ViewData["Title"] = "Play";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <a asp-area="" asp-controller="ComeBet" asp-action="Play" class="btn btn-primary">Come Bets</a>
        </div>
        <div class="col-auto">
            <a asp-area="" asp-controller="PlaceBet" asp-action="Play" class="btn btn-primary">Place Bets</a>
        </div>
        <div class="col-auto">
            <a asp-area="" asp-controller="Horn" asp-action="Play" class="btn btn-primary">Horn Bets</a>
        </div>
        <div class="col-auto">
            <a asp-area="" asp-controller="HornHigh" asp-action="Play" class="btn btn-primary">HornHigh Bets</a>
        </div>
        <div class="col-auto">
            <a asp-area="" asp-controller="World" asp-action="Play" class="btn btn-primary">World Bets</a>
        </div>
    </div>

    <hr />
    <div>

        <h2>World Bet</h2>

        @if (Model.ErrorMessage != null)
        {
            <p>@Model.ErrorMessage</p>
        }

        <p>Bet: @Model.Bet</p>
        <p>Dice Roll: @Model.RolledNumber</p>

        <div class="row">
            <form asp-action="Play">
                <input asp-for="@Model.Bet" name="bet" hidden />
                <input asp-for="@Model.RolledNumber" name="rolledNumber" hidden />

                <div class="form-group">
                    <label for="min">Min Bet</label>
                    <input type="number" id="min" name="min" min="5" max="5000" step="5" />
                </div>

                <div class="form-group">
                    <label for="min">Max Bet</label>
                    <input type="number" id="max" name="max" min="5" max="5000" step="5" />
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Answer">Answer:</label>
                    <input asp-for="@Model.Answer" type="number" min="0" required autofocus />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit Answer</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Later insure that the max of min nor more then min of max *@
@* <script>
    document.addEventListener("DOMContentLoaded", function () {
        var minInput = document.getElementById("min");
        var maxInput = document.getElementById("max");

        minInput.addEventListener("input", function () {
            // Ensure that the value of the "Max Bet" input is not lower than the value of the "Min Bet" input
            if (parseInt(maxInput.value) < parseInt(minInput.value)) {
                maxInput.value = minInput.value;
            }
        });

        maxInput.addEventListener("input", function () {
            // Ensure that the value of the "Max Bet" input is not lower than the value of the "Min Bet" input
            if (parseInt(maxInput.value) < parseInt(minInput.value)) {
                maxInput.value = minInput.value;
            }
        });
    });
</script> *@